---
import ReviewsModule from "../../components/Elements/ReviewsModule.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";

const golosinasTypes = [
  {
    id: "naturales",
    icon: "/images/golosinas-icono-1.svg",
    title: "Golosinas Naturales",
    description:
      "Hechas con ingredientes frescos y sin aditivos artificiales, estas golosinas son saludables y seguras, perfectas para proporcionar un snack natural a su mascota.",
  },
  {
    id: "medicas",
    icon: "/images/golosinas-icono-2.svg",
    title: "Golosinas Medicas",
    description:
      "Formuladas específicamente para tratar y prevenir problemas de salud, estas golosinas ayudan a mantener a su mascota sana mientras disfruta de un sabroso premio.",
  },
  {
    id: "dentales",
    icon: "/images/golosinas-icono-3.svg",
    title: "Golosinas Dentales",
    description:
      "Diseñadas para mejorar la salud bucal, estas golosinas ayudan a reducir la acumulación de placa y sarro, promoviendo dientes y encías saludables.",
  },
  {
    id: "saludables",
    icon: "/images/golosinas-icono-4.svg",
    title: "Golosinas Saludables",
    description:
      "Bajos en calorías y ricos en nutrientes, estas golosinas son ideales para mascotas con necesidades dietéticas especiales o para mantener un peso saludable.",
  },
  {
    id: "entrenamiento",
    icon: "/images/golosinas-icono-5.svg",
    title: "Golosinas para Entrenamiento de Cachorros",
    description:
      "Pequeñas y sabrosas, estas golosinas son perfectas para entrenar a su cachorro, facilitando el aprendizaje de nuevos comandos y comportamientos deseables.",
  },
];
---

<Layout>
  <div class="bg-[#6FCAEF]">
    <Header />
    <div class="tcp-container">
      <section class="pt-[60px] pb-[80px]">
        <div>
          <ReviewsModule customClass="justify-center" />
          <h1
            class="text-[32px] md:text-[40px] text-center font-bold text-[#003450] leading-[90%] mb-4 px-4"
          >
            Golosinas
          </h1>
          <p class="text-[#003450] text-center px-4 max-w-[600px] mx-auto">
            Nuestra sección de Golosinas ofrece una variedad de opciones
            deliciosas y nutritivas para premiar y cuidar a su mascota.
            Incluimos:
          </p>
          <div
            class="grid md:grid-cols-3 gap-4 mt-8 max-w-[1000px] mx-auto px-4 md:px-0"
          >
            <img
              class="bg-gray-400 rounded-[8px] w-full h-full object-cover"
              src="/images/golosinas.jpg"
              alt="Golosinas para mascotas"
            />

            {
              golosinasTypes.map((golosina) => (
                <div class="bg-white border border-[#003450]/30 rounded-[8px] p-6 md:p-8 pb-12 md:pb-16">
                  <img
                    class="w-12 h-12 md:w-auto md:h-auto"
                    src={golosina.icon}
                    alt={golosina.title}
                  />
                  <h3 class="text-[16px] md:text-[18px] text-[#003450] font-semibold my-3 md:my-4 leading-tight">
                    {golosina.title}
                  </h3>
                  <p class="text-[14px] md:text-base text-[#003450]/80 leading-relaxed">
                    {golosina.description}
                  </p>
                </div>
              ))
            }
          </div>
          <a
            class="cs-btn block mx-auto w-fit mt-8 shadow-[#003450] border-[#003450]"
            href="https://wa.link/gg93da?text=Hola!%20Me%20interesa%20conocer%20más%20sobre%20sus%20golosinas%20para%20mascotas"
            target="_blank">¡Coordinar visita!</a
          >
          <p class="text-[14px] text-[#003450]/80 text-center mt-4">
            ¡Esperamos tu mensaje! 🤗
          </p>
        </div>
      </section>
    </div>
    <Footer />
  </div>
</Layout>
