---
import ReviewsModule from "../../components/Elements/ReviewsModule.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="bg-[#6FCAEF]">
    <Header />
    <div class="tcp-container">
      <section class="md:py-[80px] pt-[80px] pb-[40px]">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <ReviewsModule />
            <h1 class="text-[40px] font-bold text-[#003450] leading-[90%] mb-8">
              Peluqueria e Higiene
            </h1>
            <p class="text-[#003450]">
              <h3 class="text-[22px]">
                En Clinistore, nos enorgullecemos de ofrecer el mejor servicio
                de baño y peluquería para tu mascota.
              </h3>
              <br />
              Con cinco sucursales disponibles, nos aseguramos de brindarte comodidad
              y atención personalizada, siempre cuidando cada detalle para que tu
              compañero peludo se sienta cómodo y seguro.
              <br /><br />
              Nuestros expertos en cuidado animal están capacitados para realizar
              cortes higiénicos, manteniendo la salud y el bienestar de tu mascota
              como prioridad.
              <br /><br />
              Sabemos lo importante que es para vos su cuidado, por eso nos esforzamos
              en ofrecer un servicio de alta calidad y con el máximo respeto hacia
              ellos.
            </p>
          </div>
          <div class="flex items-center">
            <img
              class="w-full rounded-[16px]"
              src="/images/peluqueria-e-higiene.png"
              alt="Peluqueria e higiene"
            />
          </div>
        </div>
      </section>
      <section class="pt-[40px] pb-[80px] px-4 max-w-6xl mx-auto">
        <h2
          class="text-[28px] text-center md:text-[30px] font-semibold max-w-[500px] leading-[95%] mx-auto text-[#003450] mb-2"
        >
          Todo lo que tu compañero necesita y más
        </h2>
        <div class="grid md:grid-cols-3 gap-4 mt-8 max-w-[1000px] mx-auto">
          <div
            class="bg-white border border-[#003450]/30 rounded-[8px] p-8 pb-16"
          >
            <img src="/images/pelu-icono-1.svg" alt="Baño" />
            <h3 class="text-[18px] text-[#003450] font-semibold my-4">Baño</h3>
            <p class="text-[#003450]/80">
              El baño regular con productos específicos para perros ayuda a
              mantener la higiene, eliminar la suciedad y los malos olores, y
              prevenir problemas de piel como irritaciones o infecciones.
              Además, fortalece el pelaje, dejándolo más suave y brillante.
            </p>
          </div>

          <div
            class="bg-white border border-[#003450]/30 rounded-[8px] p-8 pb-16"
          >
            <img src="/images/pelu-icono-2.svg" alt="Corte Completo" />
            <h3 class="text-[18px] text-[#003450] font-semibold my-4">
              Corte Completo
            </h3>
            <p class="text-[#003450]/80">
              Un corte completo no solo mejora la apariencia de tu perro, sino
              que también facilita el mantenimiento del pelaje, previene enredos
              y nudos, y permite una mejor ventilación de la piel, reduciendo el
              riesgo de sobrecalentamiento en épocas cálidas.
            </p>
          </div>

          <div
            class="bg-white border border-[#003450]/30 rounded-[8px] p-8 pb-16"
          >
            <img src="/images/pelu-icono-3.svg" alt="Baño y Corte Higiénico" />
            <h3 class="text-[18px] text-[#003450] font-semibold my-4">
              Baño y Corte Higiénico
            </h3>
            <p class="text-[#003450]/80">
              Este servicio combina la limpieza general con el recorte de áreas
              específicas propensas a acumular suciedad, como la zona perianal,
              perillas y almohadillas. Ayuda a prevenir infecciones y facilita
              la higiene diaria.
            </p>
          </div>

          <div
            class="bg-white border border-[#003450]/30 rounded-[8px] p-8 pb-16"
          >
            <img src="/images/pelu-icono-4.svg" alt="Baño y Corte Completo" />
            <h3 class="text-[18px] text-[#003450] font-semibold my-4">
              Baño y Corte Completo
            </h3>
            <p class="text-[#003450]/80">
              Ideal para un cuidado integral, este servicio asegura una limpieza
              profunda y un corte adecuado al tipo de pelaje de tu perro,
              promoviendo su salud y bienestar general.
            </p>
          </div>

          <div
            class="bg-white border border-[#003450]/30 rounded-[8px] p-8 pb-16"
          >
            <img src="/images/pelu-icono-5.svg" alt="Corte con Tijera" />
            <h3 class="text-[18px] text-[#003450] font-semibold my-4">
              Corte con Tijera
            </h3>
            <p class="text-[#003450]/80">
              El corte con tijera permite un acabado más detallado y
              personalizado, respetando la estructura natural del pelaje y
              adaptándose a las necesidades específicas de cada raza.
            </p>
          </div>

          <div
            class="bg-white border border-[#003450]/30 rounded-[8px] p-8 pb-16"
          >
            <img src="/images/pelu-icono-6.svg" alt="Deslanado" />
            <h3 class="text-[18px] text-[#003450] font-semibold my-4">
              Deslanado
            </h3>
            <p class="text-[#003450]/80">
              El deslanado es una técnica que elimina el subpelo muerto,
              reduciendo la cantidad de pelo que se desprende en casa y
              previniendo la formación de nudos. También mejora la ventilación
              de la piel y ayuda a regular la temperatura corporal del perro.
            </p>
          </div>

          <div
            class="bg-white border border-[#003450]/30 rounded-[8px] p-8 pb-16"
          >
            <img src="/images/pelu-icono-7.svg" alt="Corte de Uñas" />
            <h3 class="text-[18px] text-[#003450] font-semibold my-4">
              Corte de Uñas
            </h3>
            <p class="text-[#003450]/80">
              Mantener las uñas de tu perro a una longitud adecuada es esencial
              para prevenir molestias al caminar, evitar que se encarnen o se
              rompan, y reducir el riesgo de lesiones.
            </p>
          </div>

          <div
            class="bg-white border border-[#003450]/30 rounded-[8px] p-8 pb-16"
          >
            <img src="/images/pelu-icono-8.svg" alt="Vaciado de Glándulas" />
            <h3 class="text-[18px] text-[#003450] font-semibold my-4">
              Vaciado de Glándulas
            </h3>
            <p class="text-[#003450]/80">
              El vaciado de las glándulas anales es importante para evitar la
              acumulación de secreciones que pueden causar molestias, mal olor o
              infecciones. Este procedimiento debe ser realizado por
              profesionales cuando sea necesario.
            </p>
          </div>

          <div
            class="bg-white border border-[#003450]/30 rounded-[8px] p-8 pb-16"
          >
            <img src="/images/pelu-icono-9.svg" alt="Limpieza de Orejas" />
            <h3 class="text-[18px] text-[#003450] font-semibold my-4">
              Limpieza de Orejas
            </h3>
            <p class="text-[#003450]/80">
              La limpieza regular de las orejas previene la acumulación de cera
              y suciedad, reduciendo el riesgo de infecciones y problemas
              auditivos. Es especialmente importante en razas con orejas caídas
              o peludas.
            </p>
          </div>
        </div>
        <a
          class="cs-btn block mx-auto w-fit mt-8 shadow-[#003450] border-[#003450]"
          href="https://wa.me/5491151600962?text=Hola!%20Me%20interesa%20coordinar%20un%20turno%20para%20peluquer%C3%ADa%20e%20higiene%20para%20mi%20mascota"
          target="_blank">¡Coordinar visita!</a
        >
        <p class="text-[14px] text-[#003450]/80 text-center mt-4">
          ¡Esperamos tu mensaje! 🤗
        </p>
      </section>

      <section class="pb-[80px] px-4 w-full mx-auto">
        <div class="bg-white rounded-[8px] p-8 md:p-12 text-center">
          <h2
            class="text-[28px] font-medium text-[#003450] leading-[110%] mb-4"
          >
            Podés hacer tu reserva de turno fácilmente a través de WhatsApp, y
            elegir la sucursal que te quede más cerca.
          </h2>
          <p class="text-[16px] text-[#003450]/80 mb-8">
            Estamos comprometidos con el cuidado y la felicidad de tu mascota.
          </p>
          <a
            class="cs-btn block mx-auto w-fit shadow-[#003450] border-[#003450]"
            href="https://wa.me/5491151600962?text=Hola!%20Me%20interesa%20coordinar%20un%20turno%20para%20peluquer%C3%ADa%20e%20higiene%20para%20mi%20mascota"
            target="_blank">¡Coordinar visita!</a
          >
          <p class="text-[14px] text-[#003450]/80 text-center mt-4">
            ¡Te esperamos! 🤗
          </p>
        </div>
      </section>
    </div>
    <Footer />
  </div>
</Layout>
