<section class="pt-[66px] pb-[100px] bg-[#003450]" id="franquicias">
  <div class="tcp-container text-center">
    <h4 class="text-[#6FCAEF] text-[20px] font-bold mb-4">
      Modelo de negocio probado
    </h4>
    <h2
      class="font-bold text-white text-[40px] leading-[100%] max-w-[700px] mx-auto"
    >
      Expandí Clinistore en tu ciudad
    </h2>
    <p
      class="text-white/70 max-w-[550px] mx-auto text-[18px] leading-[110%] mt-4 mb-10"
    >
      Sumate a la red de veterinarias más importante de Zona Norte. Abrí tu
      propia sucursal con nuestro respaldo, marca y experiencia.
    </p>
    <a href="/solicitar-franquicia" class="cs-btn --secondary inline-block">
      Quiero mi franquicia
    </a>
  </div>
</section>
