<section class="py-[100px] bg-[#02669A] rounded-[20px]">
  <div class="tcp-container">
    <h2
      class="font-bold text-white text-center text-[40px] leading-[100%] max-w-[500px] mx-auto"
    >
      Momentos que nos llenan el corazón
    </h2>
    <p
      class="text-center text-white/80 max-w-[740px] mx-auto text-[18px] leading-[110%] mt-4 mb-8"
    >
      Algunas fotos de nuestros pacientes felices, el equipo de trabajo y la
      atención <br class="hidden md:flex" /> diaria. Porque cada patita que cuidamos
      deja huella en nosotros.
    </p>
    <div class="max-w-[930px] mx-auto grid md:grid-cols-3 gap-4">
      <img
        class="rounded-[8px] bg-gray-400 w-full h-full md:row-span-2"
        src="/images/home-galeria-1.jpg"
        alt=""
      />
      <img
        class="rounded-[8px] bg-gray-400 w-full h-[250px] object-cover md:h-[210px]"
        src="/images/home-galeria-2.jpg"
        alt=""
      />
      <img
        class="rounded-[8px] bg-gray-400 w-full h-[250px] object-cover md:h-[210px]"
        src="/images/home-galeria-3.jpg"
        alt=""
      />
      <img
        class="rounded-[8px] bg-gray-400 w-full h-[250px] object-cover md:h-[210px]"
        src="/images/home-galeria-4.jpg"
        alt=""
      />
      <img
        class="rounded-[8px] bg-gray-400 w-full h-[250px] object-cover md:h-[210px]"
        src="/images/home-galeria-5.jpg"
        alt=""
      />
      <img
        class="rounded-[8px] bg-gray-400 w-full h-[250px] object-cover md:h-[210px] md:col-span-2"
        src="/images/home-galeria-6.jpg"
        alt=""
      />
      <img
        class="rounded-[8px] bg-gray-400 w-full h-[250px] object-cover md:h-[210px]"
        src="/images/home-galeria-7.jpg"
        alt=""
      />
    </div>
    <a
      class="cs-btn block mx-auto w-fit mt-8 shadow-[#003450] border-[#003450]"
      href="https://wa.me/5491151600962?text=Hola!%20Me%20interesa%20coordinar%20una%20visita!"
      target="_blank">¡Coordinar visita!</a
    >
    <p class="text-[14px] text-white/80 text-center mt-4">
      ¡Esperamos tu mensaje! 🤗
    </p>
  </div>
</section>
