<header>
	<div class="tcp-container border-b border-white/20 py-4">
		<div class="flex justify-between items-center">
			<img class="h-[50px] w-[187px]" src="/images/clini-store-logo.webp" alt="Clini Store">
			<nav class="flex gap-8 list-none text-[#02669A]">
				<li><a href="#!">Quienes somos</a></li>
				<li><a href="#!">Servicios</a></li>
				<li><a href="#!">Sucursales</a></li>
			</nav>
		</div>
	</div>
</header>