<header class="bg-white md:bg-transparent shadow-md md:shadow-none">
  <div class="tcp-container border-b border-white/20 py-4">
    <div class="flex justify-between items-center">
      <a href="/">
        <img
          class="h-[40px] md:h-[50px] md:w-[187px]"
          src="/images/clini-store-logo.webp"
          alt="Clini Store"
        />
      </a>

      <!-- Botón hamburguesa para mobile  -->
      <button
        class="text-[#02669A] md:hidden"
        onclick="document.getElementById('mobile-menu')?.classList.toggle('hidden')"
        aria-label="Abrir menú"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>

      <!-- Menú desktop -->
      <nav class="hidden md:flex gap-8 list-none text-[#02669A]">
        <li><a href="/#quienes-somos">Quienes somos</a></li>
        <li class="group relative">
          <div class="flex flex-row items-center group">
            <button class="block text-left w-full"> Servicios </button>
            <svg
              class="faq-icon min-w-[20px] size-[12px] transition-all duration-300 group-hover:rotate-45"
              fill="#003450"
              viewBox="0 0 448 512"
            >
              <path
                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
              ></path>
            </svg>
          </div>
          <ul
            class="group-hover:flex absolute top-[100%] left-0 w-[250px] bg-white z-50 px-4 flex-col hidden"
          >
            <li>
              <a
                class="block p-4 border-b border-[#111]/30"
                href="/alimentos-y-nutricion">Alimentos y nutrición</a
              >
            </li>
            <li>
              <a
                class="block p-4 border-b border-[#111]/30"
                href="/clinica-veterinaria">Clínica veterinaria</a
              >
            </li>
            <li>
              <a
                class="block p-4 border-b border-[#111]/30"
                href="/farmacia-veterinaria">Farmacia veterinaria</a
              >
            </li>
            <li>
              <a class="block p-4 border-b border-[#111]/30" href="/golosinas"
                >Golosinas</a
              >
            </li>
            <li>
              <a class="block p-4 border-b border-[#111]/30" href="/juguetes"
                >Juguetes</a
              >
            </li>
            <li>
              <a
                class="block p-4 border-b border-[#111]/30"
                href="/peluqueria-e-higiene">Peluquería e higiene</a
              >
            </li>
            <li>
              <a class="block p-4 border-b border-[#111]/30" href="/sucursales"
                >Sucursales</a
              >
            </li>
            <li>
              <a class="block p-4 border-b border-[#111]/30" href="/tramites"
                >Trámites</a
              >
            </li>
            <li>
              <a class="block p-4" href="/accesorios"
                >Accesorios</a
              >
            </li>
          </ul>
        </li>
        <li><a href="/#sucursales">Sucursales</a></li>
      </nav>
    </div>

    <!-- Menú mobile -->
    <div id="mobile-menu" class="md:hidden hidden mt-4">
      <ul class="flex flex-col gap-4 text-[#02669A]">
        <li><a href="/#quienes-somos" class="block">Quienes somos</a></li>
        <li class="group relative">
          <button
            id="mobile-services-toggle"
            class="text-left w-full flex items-center justify-between"
          >
            Servicios
            <svg
              id="mobile-submenu-icon"
              class="min-w-[20px] size-[12px] transition-all duration-300"
              fill="#02669A"
              viewBox="0 0 448 512"
            >
              <path
                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
              ></path>
            </svg>
          </button>
          <ul
            id="mobile-submenu"
            class="w-full bg-white/90 z-50 px-4 flex-col hidden mt-2 rounded-md"
          >
            <li>
              <a
                class="block px-2 py-3 border-b border-[#111]/20"
                href="/alimentos-y-nutricion">Alimentos y nutrición</a
              >
            </li>
            <li>
              <a
                class="block px-2 py-3 border-b border-[#111]/20"
                href="/clinica-veterinaria">Clínica veterinaria</a
              >
            </li>
            <li>
              <a
                class="block px-2 py-3 border-b border-[#111]/20"
                href="/farmacia-veterinaria">Farmacia veterinaria</a
              >
            </li>
            <li>
              <a
                class="block px-2 py-3 border-b border-[#111]/20"
                href="/golosinas">Golosinas</a
              >
            </li>
            <li>
              <a
                class="block px-2 py-3 border-b border-[#111]/20"
                href="/juguetes">Juguetes</a
              >
            </li>
            <li>
              <a
                class="block px-2 py-3 border-b border-[#111]/20"
                href="/peluqueria-e-higiene">Peluquería e higiene</a
              >
            </li>
            <li>
              <a
                class="block px-2 py-3 border-b border-[#111]/20"
                href="/sucursales">Sucursales</a
              >
            </li>
            <li>
              <a class="block px-2 py-3" href="/tramites-y-accesorios"
                >Trámites y accesorios</a
              >
            </li>
          </ul>
        </li>
        <li><a href="/sucursales" class="block">Sucursales</a></li>
      </ul>
    </div>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("mobile-services-toggle");
    const submenu = document.getElementById("mobile-submenu");
    const icon = document.getElementById("mobile-submenu-icon");

    if (toggle) {
      toggle.addEventListener("click", function () {
        if (submenu) {
          submenu.classList.toggle("hidden");
          submenu.classList.toggle("flex");
        }

        if (icon) {
          icon.classList.toggle("rotate-45");
        }
      });
    }
  });
</script>
