---
import ReviewsModule from "./Elements/ReviewsModule.astro";
import Header from "./Header.astro";
---

<section class="bg-[#6FCAEF] relative overflow-clip">
  <div
    class="bg-white/40 md:bg-white h-12 flex items-center justify-center text-center"
  >
    <p
      class="text-sm md:text-base lg:text-lg h-fit leading-none text-[#003450] tracking-widest"
    >
      Delivery GRATIS en Zona Norte!
    </p>
  </div>
  <Header />
  <div class="tcp-container">
    <div class="grid md:grid-cols-2">
      <div class="pt-[60px] md:pt-[80px] pb-[20px] md:pb-[140px]">
        <ReviewsModule />
        <h1
          class="text-[32px] md:text-[60px] font-bold text-[#003450] leading-[90%]"
        >
          Tu veterinaria en Zona Norte
        </h1>
        <h4 class="text-white my-4 font-bold text-[18px] md:text-[22px]">
          ¡Tu compañero de vida se merece lo mejor!
        </h4>
        <p class="text-[#003450]">
          En <strong>Clinistore</strong> nos dedicamos a cuidar a quienes más querés.
          Atención <strong>veterinaria de calidad, amor y compromiso</strong> para
          que tu mascota esté siempre sana y feliz.
        </p>
        <div class="flex flex-col text-center md:flex-row gap-4 mt-8">
          <a
            class="cs-btn --secondary border-[#02669A]"
            href="/clinica-veterinaria">Ver servicios</a
          >
          <a
            class="cs-btn border-[#02669A]"
            target="_blank"
            href="https://wa.me/5491151600962?text=Hola!%20Me%20interesa%20coordinar%20un%20turno!"
            >¡Coordinar visita!</a
          >
        </div>
      </div>
      <div class="relative z-30">
        <img
          class="md:absolute object-contain bottom-0 -left-[80px] block w-[calc(100%+80px)] max-w-none h-full"
          src="/images/clini-store-hero.webp"
          alt="Clini Store"
        />
      </div>
    </div>
  </div>
  <div
    class="w-full absolute bottom-0 z-10 h-[34px] bg-[#02669A] rounded-tr-[20px] rounded-tl-[20px]"
  >
  </div>
</section>
