<section class="pt-[66px] pb-[100px] bg-[#02669A]" id="nosotros">
  <div class="tcp-container">
    <h4 class="text-white text-center text-[20px] font-bold mb-4">
      ¡Delivery GRATIS en Zona Norte!
    </h4>
    <h2
      class="font-bold text-white text-center text-[40px] leading-[100%] max-w-[700px] mx-auto"
    >
      Veterinarios apasionados por cuidar a quienes más amás
    </h2>
    <p
      class="text-center text-white/80 max-w-[550px] mx-auto text-[18px] leading-[110%] mt-4 mb-8"
    >
      Brindamos una atención integral, cálida y profesional para el bienestar de
      tu mascota en cada etapa de su vida.
    </p>
    <div class="max-w-[650px] mx-auto grid md:grid-cols-2 gap-4">
      <div class="bg-white rounded-[20px] px-8 py-16">
        <!-- Start icon -->
        <svg
          class="mx-auto"
          width="38"
          height="33"
          viewBox="0 0 38 33"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_40_222)">
            <path
              d="M9.61562 1.41155C9.97656 2.49436 9.39004 3.66096 8.31367 4.0219L6.625 4.58264V12.375C6.625 15.791 9.39648 18.5625 12.8125 18.5625C16.2285 18.5625 19 15.791 19 12.375V4.58264L17.3178 4.0219C16.235 3.66096 15.6549 2.49436 16.0158 1.41155C16.3768 0.328733 17.5434 -0.251345 18.6262 0.109592L20.3084 0.670334C21.9906 1.23108 23.125 2.80373 23.125 4.58264V12.375C23.125 17.3508 19.6059 21.5016 14.9201 22.4748C15.3262 26.0778 18.3813 28.875 22.0938 28.875C26.0834 28.875 29.3125 25.6459 29.3125 21.6563V17.0994C27.4885 16.3067 26.2188 14.4891 26.2188 12.375C26.2188 9.52619 28.5262 7.21877 31.375 7.21877C34.2238 7.21877 36.5312 9.52619 36.5312 12.375C36.5312 14.4891 35.2615 16.3067 33.4375 17.0994V21.6563C33.4375 27.9211 28.3586 33 22.0938 33C16.1061 33 11.2076 28.3658 10.7822 22.4877C6.05781 21.5403 2.5 17.3766 2.5 12.375V4.58264C2.5 2.81018 3.63438 1.23108 5.32305 0.670334L7.00527 0.109592C8.08809 -0.251345 9.25469 0.335178 9.61562 1.41155ZM31.375 14.4375C31.922 14.4375 32.4466 14.2202 32.8334 13.8334C33.2202 13.4466 33.4375 12.922 33.4375 12.375C33.4375 11.828 33.2202 11.3034 32.8334 10.9166C32.4466 10.5298 31.922 10.3125 31.375 10.3125C30.828 10.3125 30.3034 10.5298 29.9166 10.9166C29.5298 11.3034 29.3125 11.828 29.3125 12.375C29.3125 12.922 29.5298 13.4466 29.9166 13.8334C30.3034 14.2202 30.828 14.4375 31.375 14.4375Z"
              fill="#003450"
              fill-opacity="0.47"></path>
          </g>
          <defs>
            <clipPath id="clip0_40_222">
              <rect
                width="37.125"
                height="33"
                fill="white"
                transform="translate(0.4375)"></rect>
            </clipPath>
          </defs>
        </svg>
        <!-- End icon -->
        <h3 class="text-[20px] my-4 font-bold text-[#003450] text-center">
          Estudios Médicos
        </h3>
        <p class="text-[#003450] text-center leading-[110%]">
          Realizamos análisis clínicos, estudios de laboratorio y chequeos
          generales para garantizar la salud integral de tu mascota.
        </p>
      </div>
      <div class="bg-white rounded-[20px] px-8 py-16">
        <!-- Start icon -->
        <svg
          class="mx-auto"
          width="34"
          height="33"
          viewBox="0 0 34 33"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_40_208)">
            <path
              d="M15.0987 5.98771C16.0204 8.75275 15.0794 11.5436 12.9976 12.2268C10.9157 12.91 8.47939 11.2213 7.55772 8.45627C6.63604 5.69123 7.57705 2.90041 9.65889 2.2172C11.7407 1.534 14.1771 3.22267 15.0987 5.98771ZM6.97119 12.8004C8.18936 14.8887 7.89287 17.3186 6.31377 18.2209C4.73467 19.1233 2.46592 18.1629 1.2542 16.0746C0.0424809 13.9863 0.326075 11.5565 1.90518 10.6541C3.48428 9.75177 5.75303 10.7121 6.96475 12.8004H6.97119ZM4.96025 25.8586C8.3376 16.7514 14.3382 14.4375 17.0001 14.4375C19.662 14.4375 25.6626 16.7514 29.0399 25.8586C29.272 26.4838 29.3751 27.1541 29.3751 27.8244V27.9276C29.3751 29.5904 28.028 30.9375 26.3651 30.9375C25.6239 30.9375 24.8892 30.8473 24.1737 30.6668L18.5019 29.2488C17.5157 29.0039 16.4845 29.0039 15.4983 29.2488L9.82647 30.6668C9.11104 30.8473 8.37627 30.9375 7.63506 30.9375C5.97217 30.9375 4.6251 29.5904 4.6251 27.9276V27.8244C4.6251 27.1541 4.72822 26.4838 4.96025 25.8586ZM27.6864 18.2209C26.1073 17.3186 25.8108 14.8887 27.029 12.8004C28.2472 10.7121 30.5095 9.75177 32.0886 10.6541C33.6677 11.5565 33.9642 13.9863 32.746 16.0746C31.5278 18.1629 29.2655 19.1233 27.6864 18.2209ZM20.487 12.2268C18.4052 11.5436 17.4642 8.75275 18.3858 5.98771C19.3075 3.22267 21.7438 1.534 23.8257 2.2172C25.9075 2.90041 26.8485 5.69123 25.9269 8.45627C25.0052 11.2213 22.5688 12.91 20.487 12.2268Z"
              fill="#003450"
              fill-opacity="0.47"></path>
          </g>
          <defs>
            <clipPath id="clip0_40_208">
              <rect
                width="33"
                height="33"
                fill="white"
                transform="translate(0.5)"></rect>
            </clipPath>
          </defs>
        </svg>
        <!-- End icon -->
        <h3 class="text-[20px] my-4 font-bold text-[#003450] text-center">
          Veterinaria Especializada
        </h3>
        <p class="text-[#003450] text-center leading-[110%]">
          Atención personalizada por profesionales en distintas especialidades:
          dermatología, traumatología, oftalmología y más.
        </p>
      </div>
      <div class="bg-white rounded-[20px] px-8 py-16">
        <!-- Start icon -->
        <svg
          class="mx-auto"
          width="38"
          height="33"
          viewBox="0 0 38 33"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_40_218)">
            <path
              d="M10.3439 9.33281C10.7887 10.3834 11.6717 11.3438 12.8125 11.3438H25.1875C26.3283 11.3438 27.2113 10.3834 27.6561 9.33281C28.4359 7.48301 30.2729 6.1875 32.4062 6.1875C35.2551 6.1875 37.5625 8.49492 37.5625 11.3438C37.5625 13.3031 36.4668 15.0111 34.8555 15.8812C34.6234 16.0037 34.4688 16.2357 34.4688 16.5C34.4688 16.7643 34.6234 16.9963 34.8555 17.1188C36.4668 17.9889 37.5625 19.6969 37.5625 21.6562C37.5625 24.5051 35.2551 26.8125 32.4062 26.8125C30.2729 26.8125 28.4359 25.517 27.6561 23.6672C27.2113 22.6166 26.3283 21.6562 25.1875 21.6562H12.8125C11.6717 21.6562 10.7887 22.6166 10.3439 23.6672C9.56406 25.517 7.72715 26.8125 5.59375 26.8125C2.74492 26.8125 0.4375 24.5051 0.4375 21.6562C0.4375 19.6969 1.5332 17.9889 3.14453 17.1188C3.37656 16.9963 3.53125 16.7643 3.53125 16.5C3.53125 16.2357 3.37656 16.0037 3.14453 15.8812C1.5332 15.0111 0.4375 13.3031 0.4375 11.3438C0.4375 8.49492 2.74492 6.1875 5.59375 6.1875C7.72715 6.1875 9.56406 7.48301 10.3439 9.33281Z"
              fill="#003450"
              fill-opacity="0.47"></path>
          </g>
          <defs>
            <clipPath id="clip0_40_218">
              <rect
                width="37.125"
                height="33"
                fill="white"
                transform="translate(0.4375)"></rect>
            </clipPath>
          </defs>
        </svg>
        <!-- End icon -->
        <h3 class="text-[20px] my-4 font-bold text-[#003450] text-center">
          PetShop
        </h3>
        <p class="text-[#003450] text-center leading-[110%]">
          Todo lo que tu mascota necesita: alimentos premium, juguetes,
          accesorios, higiene y más en un solo lugar.
        </p>
      </div>
      <div class="bg-white rounded-[20px] px-8 py-16">
        <!-- Start icon -->
        <svg
          class="mx-auto"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.5 9.27422C4.5 7.88203 5.63203 6.75 7.02422 6.75C7.69219 6.75 8.33203 7.01719 8.81016 7.48828L9.94922 8.62734C8.47266 11.3625 8.72578 14.7797 10.7156 17.2758L10.6172 17.3672C9.95625 18.0281 9.95625 19.0969 10.6172 19.7508C11.2781 20.4047 12.3469 20.4117 13.0008 19.7508L24.2578 8.50781C24.9188 7.84688 24.9188 6.77812 24.2578 6.12422C23.5969 5.47031 22.5281 5.46328 21.8742 6.12422L21.7828 6.21563C19.2867 4.22578 15.8625 3.97266 13.1344 5.44922L11.9883 4.31016C10.6734 2.98828 8.8875 2.25 7.02422 2.25C3.14297 2.25 0 5.39297 0 9.27422V31.5C0 32.7445 1.00547 33.75 2.25 33.75C3.49453 33.75 4.5 32.7445 4.5 31.5V9.27422ZM18 24.75C18.5967 24.75 19.169 24.5129 19.591 24.091C20.0129 23.669 20.25 23.0967 20.25 22.5C20.25 21.9033 20.0129 21.331 19.591 20.909C19.169 20.4871 18.5967 20.25 18 20.25C17.4033 20.25 16.831 20.4871 16.409 20.909C15.9871 21.331 15.75 21.9033 15.75 22.5C15.75 23.0967 15.9871 23.669 16.409 24.091C16.831 24.5129 17.4033 24.75 18 24.75ZM22.5 29.25C22.5 28.6533 22.2629 28.081 21.841 27.659C21.419 27.2371 20.8467 27 20.25 27C19.6533 27 19.081 27.2371 18.659 27.659C18.2371 28.081 18 28.6533 18 29.25C18 29.8467 18.2371 30.419 18.659 30.841C19.081 31.2629 19.6533 31.5 20.25 31.5C20.8467 31.5 21.419 31.2629 21.841 30.841C22.2629 30.419 22.5 29.8467 22.5 29.25ZM22.5 20.25C23.0967 20.25 23.669 20.0129 24.091 19.591C24.5129 19.169 24.75 18.5967 24.75 18C24.75 17.4033 24.5129 16.831 24.091 16.409C23.669 15.9871 23.0967 15.75 22.5 15.75C21.9033 15.75 21.331 15.9871 20.909 16.409C20.4871 16.831 20.25 17.4033 20.25 18C20.25 18.5967 20.4871 19.169 20.909 19.591C21.331 20.0129 21.9033 20.25 22.5 20.25ZM27 24.75C27 24.1533 26.7629 23.581 26.341 23.159C25.919 22.7371 25.3467 22.5 24.75 22.5C24.1533 22.5 23.581 22.7371 23.159 23.159C22.7371 23.581 22.5 24.1533 22.5 24.75C22.5 25.3467 22.7371 25.919 23.159 26.341C23.581 26.7629 24.1533 27 24.75 27C25.3467 27 25.919 26.7629 26.341 26.341C26.7629 25.919 27 25.3467 27 24.75ZM27 15.75C27.5967 15.75 28.169 15.5129 28.591 15.091C29.0129 14.669 29.25 14.0967 29.25 13.5C29.25 12.9033 29.0129 12.331 28.591 11.909C28.169 11.4871 27.5967 11.25 27 11.25C26.4033 11.25 25.831 11.4871 25.409 11.909C24.9871 12.331 24.75 12.9033 24.75 13.5C24.75 14.0967 24.9871 14.669 25.409 15.091C25.831 15.5129 26.4033 15.75 27 15.75ZM31.5 20.25C31.5 19.6533 31.2629 19.081 30.841 18.659C30.419 18.2371 29.8467 18 29.25 18C28.6533 18 28.081 18.2371 27.659 18.659C27.2371 19.081 27 19.6533 27 20.25C27 20.8467 27.2371 21.419 27.659 21.841C28.081 22.2629 28.6533 22.5 29.25 22.5C29.8467 22.5 30.419 22.2629 30.841 21.841C31.2629 21.419 31.5 20.8467 31.5 20.25ZM33.75 18C34.3467 18 34.919 17.7629 35.341 17.341C35.7629 16.919 36 16.3467 36 15.75C36 15.1533 35.7629 14.581 35.341 14.159C34.919 13.7371 34.3467 13.5 33.75 13.5C33.1533 13.5 32.581 13.7371 32.159 14.159C31.7371 14.581 31.5 15.1533 31.5 15.75C31.5 16.3467 31.7371 16.919 32.159 17.341C32.581 17.7629 33.1533 18 33.75 18Z"
            fill="#003450"
            fill-opacity="0.47"></path>
        </svg>
        <!-- End icon -->
        <h3 class="text-[20px] my-4 font-bold text-[#003450] text-center">
          Bañadero y Peluquería
        </h3>
        <p class="text-[#003450] text-center leading-[110%]">
          En Clinistore, nos enorgullecemos de ofrecer el mejor servicio de baño
          y peluquería para tu mascota.
        </p>
      </div>
    </div>
    <a
      class="cs-btn block mx-auto w-fit mt-8 shadow-[#003450] border-[#003450]"
      href="https://wa.link/gg93da?text=Hola!%20Me%20interesa%20coordinar%20un%20turno!"
      target="_blank">¡Coordinar visita!</a
    >
    <p class="text-[14px] text-white/80 text-center mt-4">
      ¡Esperamos tu mensaje! 🤗
    </p>
  </div>
</section>
