---
import ReviewsModule from "../../components/Elements/ReviewsModule.astro";
import SucursalCard from "../../components/Elements/SucursalCard.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import { sucursales } from "../../data/sucursales.astro";
---

<Layout>
  <div class="bg-[#6FCAEF]">
    <Header />
    <div class="tcp-container pt-[60px] pb-[80px]">
      <ReviewsModule customClass="justify-center" />
      <p class="text-[#003450] text-center">
        TU CLÍNICA VETERINARIA EN NORDELTA
      </p>
      <h1
        class="text-[32px] md:text-[40px] mt-4 text-center font-bold text-[#003450] max-w-[580px] mx-auto leading-[90%] mb-4 px-4"
      >
        ENCONTREMOS TU CLINISTORE MÁS CERCANO
      </h1>
      <p class="text-[#003450] text-center max-w-[400px] mx-auto px-4">
        Veamos cúal de nuestras sucursales te queda más cerca...
      </p>
      <div
        class="md:w-[840px] w-full mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 mt-8 px-4 md:px-0"
      >
        {
          sucursales.map((branch) => (
            <SucursalCard {...branch} isDark={false} />
          ))
        }
      </div>
      <a
        class="cs-btn block mx-auto w-fit mt-10 shadow-[#003450] border-[#003450]"
        href="https://wa.me/5491151600962?text=Hola!%20Me%20interesa%20coordinar%20una%20consulta%20en%20alguna%20de%20sus%20sucursales"
        target="_blank">¡Coordinar visita!</a
      >
      <p class="text-[14px] text-[#003450]/80 text-center mt-4">
        ¡Esperamos tu mensaje! 🤗
      </p>
    </div>
    <Footer />
  </div>
</Layout>
